body {
  margin: 0;
  font-family: Arial;
}

.navbar {
  width: 1200px;
  height: 80px;
  background: #222;
  color: white;
  margin: auto;
}

.logo {
  float: left;
  margin-left: 40px;
  margin-top: 20px;
}

.nav-links {
  float: right;
  margin-right: 60px;
  margin-top: 30px;
}

.nav-links li {
  display: inline;
  margin-left: 40px;
}

.about {
  width: 1200px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
}

.about-text {
  width: 500px;
  float: left;
  margin-top: 120px;
}

.about-text h2 {
  font-size: 48px;
}

.about-text button {
  width: 180px;
  height: 50px;
  background: teal;
  color: white;
  border: none;
}

.about-img {
  width: 500px;
  float: right;
}

.projects {
  width: 1200px;
  margin: auto;
  margin-top: 60px;
}

.project-card {
  width: 350px;
  height: 200px;
  background: lightgray;
  float: left;
  margin-left: 30px;
  padding: 20px;
}

.contact {
  width: 1200px;
  height: 400px;
  margin: auto;
  margin-top: 60px;
}

.contact input {
  width: 400px;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}

.contact textarea {
  width: 400px;
  height: 100px;
  display: block;
  margin-bottom: 20px;
}

.contact button {
  width: 200px;
  height: 50px;
  background: black;
  color: white;
  border: none;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .logo,
  .nav-links,
  .about-text,
  .about-img,
  .project-card {
    float: none;
  }
  .about,
  .project-card,
  .contact {
    height: auto;
  }

  .navbar {
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .logo {
    margin: 0;
  }
  .nav-links li {
    display: block;
    margin: 10px;
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .about-text {
    text-align: center;
    margin-bottom: 50px;
  }
  .about-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about-img img {
    width: 80%;
  }
  .projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
}
